#footer
    // Copyright
    ul.copyright
        li © Untitled. All rights reserved.
        li
            | Design: 
            a(href='http://html5up.net') HTML5 UP
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.scrollzer.min.js')
script(src='assets/js/skel.min.js')
script(src='assets/js/util.js')
//if lte IE 8
    script(src='assets/js/ie/respond.min.js')
script(src='assets/js/main.js')